/* colors*/
$red: #ca4e5d;
$white: #fff;
$black: #000;
$black_01: rgba($black, .9);
$dark: #111;
$dark_gray: #332d2b;
$light_gray: #414141;
$yellow: #f6a300;
$green: #00a9a4;
$light_blue: #009fe3;
$rose: #e6007e;

/* breakpoints*/
$breakpoints: (
	zero: 0,
	smallest: 424px,
	small: 480px,
	xsmall: 600px,
	medium: 768px,
	xmedium: 992px,
	large: 1024px,
	xlarge: 1280px,
	xxlarge: 1440px,
	prewide: 1880px,
	wide: 1920px,
);